.floating-box {
    display: inline-block;
    width: 250px;
    height: 270px;
    margin: 20px;
}

.container {
    position: relative;
}

.topright {
    position: absolute;
    top: 0px;
    right: 0px;
}

.object-fit_contain { object-fit: contain }
